<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CI / CD Tech Talk</h1>
    <p>Welcome to tech talk</p>
  </body>
</html>
